<head>
    <!-- ... -->
    <link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css" />
    <!-- ... -->
</head>

<body>

    <div id="waline"></div>
    <script type="module">
        import { init } from '/assets/js/waline.js';
        const config = {
            el: '#waline',
            serverURL: 'https://waline.imjcj.eu.org',
            lang: 'zh-CN',
            emoji: ["/assets/emoji"]
        }
        window.onload = () => init(config);
    </script>


    <style>
        /* 暗黑模式，根据用户设置 ↓ */
        :root {
            /* 这是用于表示白色的CSS变量, 在暗模式下，白色将变为黑色*/
            --waline-white: #000;
            /* 浅灰色的CSS变量, 在暗模式下，变为深灰色 */
            --waline-light-grey: #999;
            /* --waline-light-grey: #666;*/
            /* 示深灰色, 在暗模式下，变为浅灰色 */
            --waline-dark-grey: #999;

            /* 一般文本颜色 */
            --waline-color: #c2c2c2;
            /* 背景颜色 */
            --waline-bgcolor: #1D1E20;
            /* 较浅的背景颜色 */
            --waline-bgcolor-light: #1D1E20;
            /* 边框颜色 */
            --waline-border-color: #666;
            /* 禁用状态的背景颜色 */
            --waline-disable-bgcolor: rgba(68, 68, 68, 0.8);
            /* 禁用状态的文本颜色 */
            --waline-disable-color: #888;

            /* 引用块颜色 */
            --waline-bq-color: #1D0000;

            /* 信息块背景颜色 */
            --waline-info-bgcolor: rgba(31, 45, 75, 0.8);
            /* 信息块字体 */
            --waline-info-color: #888;
            /* 信息块的边框 */
            --waline-info-border: 1px solid #d3d3d3;
        }
    </style>


</body>